@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.contact-section {
  background-image: url(/img/contacts/bg_mob.png);
  background-position: bottom 80px center;
  background-size: 828.64px 285.31px;
  background-repeat: no-repeat;

  @include mx.mq('lg') {
    background-image: url(/img/contacts/bg_desk.png);
    background-size: 1508.38px 519.36px;
    background-position: bottom -35px center;
  }
}

.contact-container {
  padding-bottom: 80px;

  @include mx.mq('lg') {
    padding-bottom: 191px;
  }
}

.contact-text {
  @include mx.font(18, 150, 0, 400);
  margin-bottom: 16px;

  @include mx.mq('lg') {
    margin-bottom: 24px;
    @include mx.font(24, 150, 0, 400);

  }
}

.contact-wrap {
  font-style: normal;
}

.contact-img {
  width: 279px;
  height: 279px;
  margin-bottom: 16px;

  @include mx.mq('lg') {
    width: 200px;
    height: 200px;
    margin: 0;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & li {
    display: flex;
    gap: 12px;
  }

  & img {
    width: 24px;
    height: 24px;

    @include mx.mq('lg') {
      width: 32px;
      height: 32px;
    }
  }

  @include mx.mq('lg') {
    gap: 16px;
  }
}

.contact-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-item-title {
  @extend %text-h3;
  color: #FF7800;
}

.contact-item-text {
  @extend %text-h3;
}