@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.features-wrapper {
  display: flex;
  justify-content: flex-start;

  @include mx.mq('lg') {
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.swiper-slide.features-slide {
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  transition: all 0.3s ease-in;

  @include mx.mq('lg') {
    width: calc((100% - 2*24px) / 3);
  }
}

.features-wrap {
  border-radius: 16px;
  background: #FFF7C8;
  padding: 27px 16px;
  display: flex;
  gap: 4px;
  align-items: center;
  height: 108px;
  width: 100%;

  & img {
    width: 32px;
    height: 32px;
  }

  @include mx.mq('lg') {
    gap: 12px;
  }
}

.features-text {
  @include mx.font(18, 150, 0, 400);

  @include mx.mq('lg') {
    @include mx.font(24, 150, 0, 400);
  }
}