@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.footer-section {
  background: fn.get-color('footer');
}

.footer-container {
  padding: 32px;
  color: fn.get-color('light');

  @include mx.mq('lg') {
    padding: 24px 72px;
  }
}

.footer-title {
  text-align: center;
  @include mx.font(16, 150, 0, 600);
  margin-bottom: 8px;

  &::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(/img/hero/paws.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    @include mx.mq('lg') {
      width: 24px;
      height: 24px;
    }
  }

  @include mx.mq('lg') {
    @include mx.font(24, 150, 0, 600);
    margin-bottom: 16px;
  }

}

.footer-item {
  text-decoration: underline;
  @extend %item-footer;

}

.footer-rights {
  @extend %rights-footer;
  text-align: center;

  @include mx.mq('lg') {
    order: 1;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  margin-bottom: 8px;

  @include mx.mq('lg') {
    margin-bottom: 16px;
  }
}

.footer-img {
  width: 320px;
  height: 180px;
  margin: 0 auto 16px;

  @include mx.mq('lg') {
    order: 2;
    margin: 0;
  }
}