@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.privacy-section {
  background-color: fn.get-color('light');
}

.subtitle.policy,
.subtitle.terms {
  @include mx.font(28, 150, 0, 700);
  margin-bottom: 24px;
  color: fn.get-color('dark');
  text-align: center;

  @include mx.mq('lg') {
    @include mx.font(48, 130, 0, 700);
    margin-bottom: 56px;
  }
}

.privacy-container {
  position: relative;
  padding: 40px 16px 99px;
  color: fn.get-color('dark');

  @include mx.mq('lg') {
    padding: 160px 72px 68px;
  }
}

.privacy-title {
  @extend %title-pages;
  text-align: start;
  margin-bottom: 16px;
}

.privacy-text {
  @extend %text-pages;
  margin-bottom: 0;

  &.gap {
    margin-bottom: 24px;
  }

  &.small-gap {
    margin-bottom: 15px;

    @include mx.mq('lg') {
      margin-bottom: 24px;
    }
  }

  &.ind {
    margin-left: 10px;
  }

  &.bold {
    font-weight: 500;
  }
}

.privacy-list {
  list-style-type: disc;

  list-style-position: inside;

  &>p {
    margin-left: 10px;
    margin-right: 10px;
  }

  &>li {
    position: relative;
    @extend %text-pages;
    margin-left: 25px;
    display: block;

    &::before {
      text-decoration: none;
      content: '• ';
      position: absolute;
      left: -15px;
    }
  }

  &.blue {
    text-decoration: underline;
    // color: #0000FF;
  }

  &.gap {
    margin-bottom: 24px;

    @include mx.mq('lg') {
      margin-bottom: 24px;
    }
  }

  &.small-gap {
    margin-bottom: 15px;

    @include mx.mq('lg') {
      margin-bottom: 24px;
    }
  }
}

.privacy-link {
  word-break: break-word;
  overflow-wrap: break-word;
  text-decoration: underline;
  // color: #0000FF;
}

.privacy-item {
  margin-bottom: 0;
}

.privacy-subtitle {
  font-family: fn.get-family('title');

  @include mx.font(20, 150, 0, 500);
  margin-bottom: 8px;

  @include mx.mq('lg') {
    @include mx.font(24, 150, 0, 500);
  }
}