@use 'mixins' as mx;
@use 'variables' as var;
@use 'functions' as fn;

%header-link {
  font-family: fn.get-family('text');
  @include mx.font(18, 150, 0, 400);

  @include mx.mq('lg') {
    @include mx.font(18, 150, -3, 500);
  }
}

%title-h1 {
  font-family: fn.get-family('title');

  @include mx.font(25, 130, 0, 400);

  @include mx.mq('lg') {
    @include mx.font(32, 130, 0, 400);
  }
}

%text-h1 {
  font-family: fn.get-family('text');

  @include mx.font(16, 130, 0, 400);
}

%subtext-h1 {
  font-family: fn.get-family('text');

  @include mx.font(14, 130, 0, 500);

  @include mx.mq('lg') {
    @include mx.font(16, 130, 0, 500);
  }
}

%title-h2 {
  font-family: fn.get-family('text');

  @include mx.font(16, 130, 0, 700);
}

%subtitle-h2 {
  font-family: fn.get-family('title');

  @include mx.font(38, 130, 0, 400);

  @include mx.mq('lg') {
    @include mx.font(48, 130, 0, 400);
  }
}

%text-h2 {
  font-family: fn.get-family('text');
  @include mx.font(16, 130, 0, 300);

  @include mx.mq('lg') {
    @include mx.font(18, 130, 0, 300);
  }
}

%subtext-h2 {
  font-family: fn.get-family('text');
  @include mx.font(14, 130, 0, 400);

  @include mx.mq('lg') {
    @include mx.font(16, 130, 0, 400);
  }
}

%title-h3 {
  font-family: fn.get-family('text');

  @include mx.font(20, 130, 0, 300);

  @include mx.mq('lg') {
    @include mx.font(24, 130, 0, 300);
  }
}

%text-h3 {
  font-family: fn.get-family('text');

  @include mx.font(16, 130, 0, 400);
}

%subtext-h3 {
  font-family: fn.get-family('text');
  @include mx.font(12, 130, 0, 400);

  @include mx.mq('lg') {
    @include mx.font(24, 130, 0, 400);
  }
}


%title-h4 {
  font-family: fn.get-family('text');
  @include mx.font(18, 130, 0, 300);

  @include mx.mq('lg') {
    @include mx.font(24, 130, 0, 300);
  }
}

%text-h4 {
  font-family: fn.get-family('text');

  @include mx.font(14, 130, 0, 400);

  @include mx.mq('lg') {
    @include mx.font(16, 130, 0, 400);
  }
}

%text-footer {
  font-family: fn.get-family('text');
  @include mx.font(14, 130, 0, 400);
}

%item-footer {
  font-family: fn.get-family('text');
  @include mx.font(11, 130, 0, 400);

  @include mx.mq('sm') {
    @include mx.font(12, 130, 0, 400);
  }

  @include mx.mq('lg') {
    @include mx.font(16, 130, 0, 400);
  }
}

%rights-footer {
  font-family: fn.get-family('text');
  @include mx.font(12, 130, 0, 400);

  @include mx.mq('lg') {
    @include mx.font(16, 130, 0, 400);
  }
}

%title-pages {
  font-family: fn.get-family('text');

  @include mx.font(24, 130, -2, 500);
}

%text-pages {
  font-family: fn.get-family('text');

  @include mx.font(16, 130, -1, 400);
}

%title-cookies {
  font-family: fn.get-family('title');

  @include mx.font(16, 130, 0, 700);

  @include mx.mq('lg') {
    @include mx.font(20, 22, 0, 400);
  }
}

%text-cookies {
  font-family: fn.get-family('text');

  @include mx.font(16, 130, 0, 400);
}

%button-cookies {
  font-family: fn.get-family('text');

  @include mx.font(14, 100, 0, 300);
}