<section id="contact" class="section contact-section">
  <div class="container my-container contact-container">
    <h2 class="title">Contact & Support</h2>

    <p class="contact-text">
      Have questions? We’re all ears (and whiskers)!
    </p>

    <address class="contact-wrap">
      <ul class="contact-list">
        <li>
          <p class="contact-item-title">Email:</p>
          <p class="contact-item-text">
            info@tapcandyadventure.com
          </p>
        </li>

        <li>
          <p class="contact-item-title">Chat:</p>
          <p class="contact-item-text">Available in-app</p>
        </li>

        <li>
          <p class="contact-item-title">Support Hours:</p>
          <p class="contact-item-text">
            Mon–Fri, 9AM–6PM (GMT+3)
          </p>
        </li>

        <li>
          <p class="contact-item-title">
            Follow our candy paws:
          </p>
          <div class="contact-links">
            <a
              href="https://www.facebook.com/"
              target="_blank"
            >
              <img
                src="/img/contacts/facebook.png"
                alt="facebook"
              />
            </a>
            <a
              href="https://www.instagram.com/"
              target="_blank"
            >
              <img
                src="/img/contacts/instagram.png"
                alt="instagram"
              />
            </a>
            <a href="https://www.x.com/" target="_blank">
              <img
                src="/img/contacts/twitter.png"
                alt="twitter"
              />
            </a>
          </div>
        </li>
      </ul>
    </address>
  </div>
</section>
