<section id="features" class="section features-section">
  <div class="container my-container features-container">
    <h2 class="title">Key Features</h2>
    <h3 class="subtitle">Why You’ll Be Hooked</h3>

    <div class="swiper mySwiper-features">
      <div class="swiper-wrapper features-wrapper">
        <div class="swiper-slide features-slide">
          <div class="features-wrap">
            <img src="/img/features/1.png" alt="cubes" />
            <p class="features-text">
              Match 2 cubes, create wild combos
            </p>
          </div>
        </div>
        <div class="swiper-slide features-slide">
          <div class="features-wrap">
            <img
              src="/img/features/2.png"
              alt="explosive powerups"
            />
            <p class="features-text">
              Huge boosters & explosive powerups
            </p>
          </div>
        </div>
        <div class="swiper-slide features-slide">
          <div class="features-wrap">
            <img
              src="/img/features/3.png"
              alt="unique levels"
            />
            <p class="features-text">
              Hundreds of unique levels with strategic depth
            </p>
          </div>
        </div>
        <div class="swiper-slide features-slide">
          <div class="features-wrap">
            <img src="/img/features/4.png" alt="Offline" />
            <p class="features-text">Offline play mode</p>
          </div>
        </div>
        <div class="swiper-slide features-slide">
          <div class="features-wrap">
            <img src="/img/features/5.png" alt="reward" />
            <p class="features-text">
              Free daily rewards & rotating event crates
            </p>
          </div>
        </div>
        <div class="swiper-slide features-slide">
          <div class="features-wrap">
            <img src="/img/features/6.png" alt="cat" />
            <p class="features-text">
              Kittens. Everywhere.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination-custom">
        <div class="swiper-pagination-bullet"></div>
      </div>
    </div>
  </div>
</section>
