<section id="features" class="section features-section">
  <div class="container my-container features-container">
    <h2 class="title light">Key Features</h2>
    <div class="main-wrapper">
      <div class="subtitle-wrap">
        <h3 class="subtitle-bg features">
          Unleash the Magic!
        </h3>
        <h3 class="subtitle features">
          Unleash the Magic!
        </h3>
      </div>

      <div class="features-list">
        <ul class="features-list-first">
          <li class="features-item">
            Match-3 Puzzle Fun: Thousands of uniquely
            designed puzzles that grow in challenge and
            excitement.
          </li>
          <li class="features-item">
            Merge Mechanics: Collect, merge, and upgrade
            items to transform your island into a lush
            paradise.
          </li>
          <li class="features-item">
            Magical Dragons: Unlock charming dragons and
            mythical creatures to enhance your island's
            charm.
          </li>
        </ul>
        <div class="features-item features-item-img">
          <img
            src="/img/features/img.png"
            alt="the girl with a dragon"
            class="features-img"
          />
        </div>
        <ul class="features-list-last">
          <li class="features-item">
            Customizable Gardens: Decorate your kingdom with
            magical flowers, buildings, and statues.
          </li>
          <li class="features-item">
            Offline Gameplay: Enjoy uninterrupted fun
            without needing an internet connection.
          </li>
          <li class="features-item">
            Easy & Intuitive: Smooth controls, vibrant
            visuals, and relaxing gameplay for everyone.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
