<div class="footer-wrapper">
  <ul class="footer-list">
    <li class="footer-item">
      <a href="./privacyPolicy.html">Privacy Policy</a>
    </li>
    <li class="footer-item">
      <a href="./termsConditions.html"
        >Terms & Conditions</a
      >
    </li>
    <li class="footer-item">
      <a href="./cookiePolicy.html">Cookies Policy</a>
    </li>
  </ul>

  <img
    src="/img/footer/img.png"
    alt="girls, dragons near the castle"
    class="footer-img"
  />

  <p class="footer-rights">
    © 2025 speedylollipopquest.com. All Rights Reserved.
  </p>
</div>
