<div class="header-container">
  <div class="header-desktop">
    <a href="/" class="header-link"
      ><img
        src="/img/header/logo.png"
        alt="logo"
        width="40"
        height="40"
      />
      <p class="header-logo-text">Kitten Cube Blast</p></a
    >
    <nav>
      <ul class="navigation-list">
        <li class="navigation-item">
          <a href="/#about">About</a>
        </li>

        <li class="navigation-item">
          <a href="/#features">Features</a>
        </li>

        <li class="navigation-item">
          <a href="/#play">How to Play</a>
        </li>

        <li class="navigation-item">
          <a href="/#powerups">Kawaii Powerups</a>
        </li>

        <li class="navigation-item">
          <a href="/#offline">Offline Mode</a>
        </li>

        <li class="navigation-item">
          <a href="/#room">Gift Room</a>
        </li>

        <li class="navigation-item">
          <a href="/#levels">Levels</a>
        </li>

        <li class="navigation-item">
          <a href="/#mood">Mood-o-Meter</a>
        </li>

        <li class="navigation-item">
          <a href="/#combos">Weird Combos</a>
        </li>

        <li class="navigation-item">
          <a href="/#join">Join the Kitten Crew</a>
        </li>

        <li class="navigation-item">
          <a href="/#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-------------- Mobile menu ----------->

  <div class="header-mobile">
    <div class="header-mobile-wrap">
      <a href="/" class="header-link"
        ><img
          src="/img/header/logo.png"
          alt="logo"
          width="20"
          height="20"
        />
        <p class="header-logo-text">Kitten Cube Blast</p></a
      >
      <button
        class="menu-toggle header js-open-menu is-open"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="24" height="24">
          <use href="/img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
  </div>

  <div class="menu-backdrop js-menu-backdrop"></div>

  <div
    class="menu-container js-menu-container"
    id="mobile-menu"
  >
    <div class="header-mobile-wrap in-menu-container">
      <a href="/" class="header-link"
        ><img
          src="/img/header/logo.png"
          alt="logo"
          width="20"
          height="20"
        />
        <p class="header-logo-text">Kitten Cube Blast</p></a
      >
      <button
        class="modal-btn menu-toggle js-close-menu"
        type="button"
      >
        <svg width="24" height="24">
          <use href="/img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <nav class="navigation-burger">
      <ul class="mobile-menu">
        <li class="navigation-item">
          <a href="/#about">About</a>
        </li>

        <li class="navigation-item">
          <a href="/#features">Features</a>
        </li>

        <li class="navigation-item">
          <a href="/#play">How to Play</a>
        </li>

        <li class="navigation-item">
          <a href="/#powerups">Kawaii Powerups</a>
        </li>

        <li class="navigation-item">
          <a href="/#offline">Offline Mode</a>
        </li>

        <li class="navigation-item">
          <a href="/#room">Gift Room</a>
        </li>

        <li class="navigation-item">
          <a href="/#levels">Levels</a>
        </li>

        <li class="navigation-item">
          <a href="/#mood">Mood-o-Meter</a>
        </li>

        <li class="navigation-item">
          <a href="/#combos">Weird Combos</a>
        </li>

        <li class="navigation-item">
          <a href="/#join">Join the Kitten Crew</a>
        </li>

        <li class="navigation-item">
          <a href="/#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
