<section class="hero-section">
  <div class="container hero-container">
    <div class="hero-wrap">
      <div class="hero-text-wrap">
        <h1 class="hero-title">Tap. Blast. Meow!</h1>

        <p class="hero-text">
          Dive into a sugar-filled adventure with playful
          kittens and candy cube chaos! Match, pop, and
          blast colorful cubes to unlock adorable surprises
          and high-score madness
        </p>
      </div>

      <img
        src="/img/hero/hero.png"
        alt="colorful cubes"
        class="hero-img"
      />
    </div>

    <ul class="hero-list">
      <li class="hero-item">Addictive match-2 gameplay</li>
      <li class="hero-item">
        Super sweet kittens & boosters
      </li>
      <li class="hero-item">Play offline anytime</li>
    </ul>
  </div>
  <span style="display: none"
    >Generated: 2025-06-10, Hash: fhgfjh1</span
  >
</section>
