<section id="join" class="section join-section">
  <div class="container my-container join-container">
    <h2 class="title">Join the Kitten Crew</h2>
    <div class="join-wrapper">
      <div>
        <h3 class="subtitle">Your Pawsome Puzzle Squad</h3>

        <img
          src="/img/join/img.png"
          alt="rooms"
          class="join-img"
        />

        <div class="join-wrap">
          <p class="join-text">Log in and get access to:</p>

          <ul class="join-list">
            <li class="join-item">
              Team play & leaderboard
            </li>
            <li class="join-item">Daily inbox bonuses</li>
            <li class="join-item">Themed kitten avatars</li>
            <li class="join-item">
              In-game stickers & emoji packs
            </li>
          </ul>
          <p class="join-text">Meow your way to the top.</p>
        </div>
      </div>
    </div>
  </div>
</section>
