<section id="levels" class="section levels-section">
  <div class="container my-container levels-container">
    <h2 class="title">Levels & Progression</h2>

    <h3 class="subtitle">
      From Cotton Candy Beginner to Cube Champion
    </h3>

    <div class="swiper mySwiper-levels">
      <div class="swiper-wrapper levels-wrapper">
        <div class="swiper-slide levels-slide">
          <p class="levels-item-text">
            <span>500+ </span>handcrafted levels
          </p>
        </div>
        <div class="swiper-slide levels-slide">
          <p class="levels-item-text">
            <span>Rescue kittens, </span>crush cubes, and
            unlock new zones
          </p>
        </div>
        <div class="swiper-slide levels-slide">
          <p class="levels-item-text">
            <span>Each level </span>introduces new mechanics
          </p>
        </div>
        <div class="swiper-slide levels-slide">
          <p class="levels-item-text">
            <span>Endgame modes: </span>Timed Blitz, Endless
            Chill, and Puzzle Mastery
          </p>
        </div>
      </div>
      <div class="swiper-pagination-custom">
        <div class="swiper-pagination-bullet"></div>
      </div>
    </div>
    <p class="levels-subtext">
      Your candy kingdom is waiting!
    </p>
  </div>
</section>
