<section id="mood" class="section mood-section">
  <div class="container my-container mood-container">
    <h2 class="title">Mood-o-Meter</h2>

    <h3 class="subtitle">Track Your Candy Mood</h3>
    <p class="mood-text">
      The more you blast, the better your day!
    </p>

    <div class="swiper mySwiper-mood">
      <div class="swiper-wrapper mood-wrapper">
        <div class="swiper-slide mood-slide">
          <img src="/img/mood/1.png" alt="Happy" />
          <p class="mood-item-text">Happy</p>
        </div>
        <div class="swiper-slide mood-slide">
          <img src="/img/mood/2.png" alt="Calm" />
          <p class="mood-item-text">Calm</p>
        </div>
        <div class="swiper-slide mood-slide">
          <img src="/img/mood/3.png" alt="Crazy Fun" />
          <p class="mood-item-text">Crazy Fun</p>
        </div>
        <div class="swiper-slide mood-slide">
          <img src="/img/mood/4.png" alt="Chill" />
          <p class="mood-item-text">Chill</p>
        </div>
        <div class="swiper-slide mood-slide">
          <img src="/img/mood/5.png" alt="Focused" />
          <p class="mood-item-text">Focused</p>
        </div>
      </div>
      <div class="swiper-pagination-custom">
        <div class="swiper-pagination-bullet"></div>
      </div>
    </div>
    <p class="mood-subtext">
      Complete puzzle streaks to “mood up” and unlock themed
      visual filters!
    </p>
  </div>
</section>
