<section id="play" class="section play-section">
  <div class="container my-container play-container">
    <h2 class="title">Offline Play</h2>
    <div class="subtitle-wrap">
      <h3 class="subtitle-bg">Play Anytime, Anywhere!</h3>
      <h3 class="subtitle">Play Anytime, Anywhere!</h3>
    </div>
    <div class="play-main-wrapper">
      <p class="play-text">
        No internet? No worries! Matching Mystery -
        Dragonland offers seamless offline gameplay. Solve
        puzzles and merge items wherever you are.
      </p>
      <ul class="play-list">
        <li class="play-item">
          Ideal for commutes and travel
        </li>
        <li class="play-item">
          Auto-save feature to keep your progress safe
        </li>
        <li class="play-item">
          Play without interruptions
        </li>
      </ul>
    </div>
  </div>
</section>
