<section id="room" class="section room-section">
  <div class="container my-container room-container">
    <h2 class="title">Gift Room</h2>

    <h3 class="subtitle">Your Secret Room of Sweetness</h3>
    <p class="room-text">
      Each day, open the Gift Room to find:
    </p>

    <div class="swiper mySwiper-room">
      <div class="swiper-wrapper room-wrapper">
        <div class="swiper-slide room-slide">
          <div class="room-wrap">
            <p class="room-item-text blue">
              Bonus boosters
            </p>
          </div>
          <div class="room-wrap">
            <p class="room-item-text orange">
              Puzzle skins
            </p>
          </div>
        </div>

        <div class="swiper-slide room-slide">
          <div class="room-wrap">
            <p class="room-item-text purple">
              Coins and power snacks for kittens
            </p>
          </div>
          <div class="room-wrap">
            <p class="room-item-text blue">
              Event tickets for limited challenges
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-pagination-custom">
        <div class="swiper-pagination-bullet"></div>
      </div>
    </div>

    <p class="room-subtext">
      Some say a legendary golden cat appears here once a
      week…
    </p>
  </div>
</section>
